* {
    margin: 0;
    padding: 0;
    font-family: "p-reg";
}

/* font */
@font-face {
    font-family: p-reg;
    font-display: auto;
    font-style: normal;
    src: url("../font/poppins-v15-latin-regular.ttf") format("truetype"),
        url("../font/poppins-v15-latin-regular.eot") format("embedded-opentype"),
        /* IE6-IE8 */ url("../font/poppins-v15-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../font/poppins-v15-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../font/poppins-v15-latin-regular.svg") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: p-500;
    font-display: auto;
    font-style: normal;
    src: url("../font/poppins-v15-latin-500.ttf") format("truetype"),
        url("../font/poppins-v15-latin-500.eot") format("embedded-opentype"),
        /* IE6-IE8 */ url("../font/poppins-v15-latin-500.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../font/poppins-v15-latin-500.woff") format("woff"),
        /* Modern Browsers */ url("../font/poppins-v15-latin-500.svg") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: p-700;
    font-display: auto;
    font-style: normal;
    src: url("../font/poppins-v15-latin-700.ttf") format("truetype"),
        url("../font/poppins-v15-latin-700.eot") format("embedded-opentype"),
        /* IE6-IE8 */ url("../font/poppins-v15-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../font/poppins-v15-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("../font/poppins-v15-latin-700.svg") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: p-300;
    font-display: auto;
    font-style: normal;
    src: url("../font/poppins-v15-latin-300.ttf") format("truetype"),
        url("../font/poppins-v15-latin-300.eot") format("embedded-opentype"),
        /* IE6-IE8 */ url("../font/poppins-v15-latin-300.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../font/poppins-v15-latin-300.woff") format("woff"),
        /* Modern Browsers */ url("../font/poppins-v15-latin-300.svg") format("svg"); /* Legacy iOS */
}

/* typography */
h1 {
    font-size: 50px;
    font-family: "p-700";
    color: #7028ba;
}

h2 {
    font-size: 40px;
    font-family: "p-700";
}

h3 {
    font-size: 24px;
    font-family: "p-700";
}

p {
    font-size: 16px;
    margin-bottom: 0;
}

.bold {
    font-family: "p-700" !important;
}

p.thin {
    font-size: 14px;
    font-family: "p-300";
}

.p-14px {
    font-size: 14px;
}

.z-1 {
    z-index: -1;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.mt-60px {
    margin-top: 60px;
}

.mb-120px {
    margin-bottom: 120px;
}

.mb-70px {
    margin-bottom: 70px;
}

.mb-60px {
    margin-bottom: 60px;
}

.mb-30px {
    margin-bottom: 30px;
}

.nick-white {
    color: #ffffff;
}

.btn {
    padding: 14px 45px;
    border-radius: 40px;
    color: #ffffff;
    font-family: "p-700";
    font-size: 14px;
}

.btn:focus,
.btn:hover {
    color: #ffffff;
}

.btn:focus {
    box-shadow: unset;
}

.bg-lilac {
    background: rgba(175, 124, 225, 0.2);
}

.bg-purple {
    background: linear-gradient(95.4deg, #b283e3 -5.97%, #8c35c4 103.88%);
}

.bg-pink {
    background: linear-gradient(86.2deg, #ff94cb -6.15%, #ff46a5 108.47%);
}

.form-control {
    border-radius: 40px;
    border: 3px solid #000000;
    padding: 12px 24px;
}

.form-control:focus {
    border: 3px solid #a901f7;
    box-shadow: 0 0 0 0.25rem rgb(143 70 140 / 25%);
}

.form-control-white {
    border: 3px solid #ffffff !important;
    background-color: unset !important;
    color: #ffffff;
}

.form-control-white:focus {
    color: #ffffff;
}

.form-control-white::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff !important;
}

.form-control-white::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff !important;
}

.form-control-white:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff !important;
}

.form-control-white:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff !important;
}

.input-group-text {
    border-radius: 40px 0 0 40px;
    padding: 12px 26px;
    color: #7028ba;
    background-color: #ffffff !important;
}

.navbar-brand img {
    width: 90px;
}

.box-pict-member {
    position: relative;
    width: 227px;
    height: 253px;
}

.bg-pict-member {
    background: linear-gradient(95.4deg, #a901f7 -5.97%, #fe74e4 103.88%);
    position: absolute;
    width: 227px;
    height: 253px;
    border-radius: 10px;
}

.pict-member {
    position: absolute;
    bottom: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.vh-100-vertical-center {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.vh-100-vertical-center-hero {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 400px);
}

.box-unguin {
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}

.box-unguin-40 {
    padding: 40px;
    border-radius: 10px;
}

.bg-pink {
    background-color: #ff7ec0;
}

.bg-magenta {
    background-color: #ca36ef;
}

.bg-purple {
    background-color: #a901f7;
}

.bg-pink-accent {
    background-color: #ff9fd0;
}

.bg-magenta-accent {
    background-color: #df66fd;
}

.bg-purple-accent {
    background-color: #b741ff;
}

.box-unguin-icon {
    padding: 16px;
    border-radius: 10px;
}

.box-unguin-icon svg {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.navbar {
    padding: 32px 0;
}

#hero {
    padding: 80px 0;
}

#shorten-area {
    overflow: hidden;
}

.wave-landing {
    width: 100%;
}

.pad-shorten-area {
    padding: 400px 0 260px 0;
}

.circle-info {
    width: 85%;
}

.illustration-info {
    top: -20px;
}

.data-info-wrapper {
    margin-top: 5%;
}

.data-info {
    margin-top: 160px;
    text-align: center;
}

#member {
    padding: 180px 0;
}

.result-link {
    background-color: #ffffff;
    border-radius: 40px;
    padding: 10px;
    position: relative;
    text-align: center;
    margin: 0 30px;
}

.result-link-copy {
    position: absolute;
    right: 30px;
}

.make-link {
    margin: 0 30px;
}

.text-purple {
    color: #7028BA;
}

.menu-sidebar {
    display: flex;
    padding: 8px 20px;
    align-items: center;
    margin-bottom: 30px;
}

.menu-sidebar.active svg,
.menu-sidebar.active p {
    fill: #7028BA;
    color: #7028BA;
}

.dashboard .box-unguin p {
    font-size: 14px;
}

@media (min-width: 1900px) {
    .data-info-wrapper {
        margin-top: 280px;
    }

    .pad-shorten-area {
        padding: 540px 0 260px 0;
    }
}

@media (max-width: 1900px) {
    .data-info-wrapper {
        margin-top: 240px;
    }
}

@media (max-width: 1600px) {
    .data-info-wrapper {
        margin-top: 70px;
    }
}

@media (max-width: 1300px) {
    .pad-shorten-area {
        padding: 300px 0 260px 0;
    }

    .data-info-wrapper {
        margin-top: 50px;
    }

    .data-info {
        margin-top: 140px;
    }
}

@media (max-width: 1100px) {
    /* typography */
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p,
    span,
    .form-control {
        font-size: 14px;
    }

    .wave-landing {
        width: 1110px;
    }

    .data-info-wrapper {
        margin-top: 50px;
    }

    .data-info {
        margin-top: 140px;
    }

    .pad-shorten-area {
        padding: 250px 0 260px 0;
    }

    .data-info-wrapper {
        margin-top: 70px;
    }

    .circle-info {
        width: 100%;
    }

    .illustration-info {
        width: 130px;
    }

    .data-info {
        margin-top: 150px;
    }
}

@media (max-width: 991px) {
    .btn-auth {
        margin-top: 25px;
        display: unset !important;
    }

    .btn-auth .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-register {
        margin-top: 30px;
    }

    .illustration-info {
        width: 90px;
    }

    .data-info {
        margin-top: 100px;
    }
    #dashboard .col-md-12 {
        margin-bottom: 30px;
    }
}

@media (max-width: 900px) {
    .wave-landing {
        right: 0;
    }
}

@media (max-width: 767px) {
    .wave-landing {
        width: 1300px;
    }

    .pad-shorten-area {
        padding: 285px 0 160px 0;
    }

    .make-link,
    .result-link {
        margin: 0;
    }

    .result-link {
        margin-bottom: 120px;
    }

    .data-info-wrapper {
        margin-top: 260px;
    }

    .circle-wrapper {
        margin-bottom: 110px;
    }

    .box-pict-member {
        margin-bottom: 120px;
    }
}

@media (max-width: 500px) {
    .pad-shorten-area {
        padding: 265px 0 160px 0;
    }

    .result-link {
        margin-bottom: 60px;
    }

    .data-info-wrapper {
        margin-top: 340px;
    }

    .illustration-info {
        top: -40px;
    }

    .data-info {
        margin-top: 62px;
    }
}
