@font-face {
    font-family: p-reg;
    font-display: auto;
    font-style: normal;
    src: url('../font/poppins-v15-latin-regular.ttf') format('truetype'),
    url('../font/poppins-v15-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../font/poppins-v15-latin-regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: p-600;
    font-display: auto;
    font-style: normal;
    src: url('../font/poppins-v15-latin-600.ttf') format('truetype'),
    url('../font/poppins-v15-latin-600.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../font/poppins-v15-latin-600.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: p-700;
    font-display: auto;
    font-style: normal;
    src: url('../font/poppins-v15-latin-700.ttf') format('truetype'),
    url('../font/poppins-v15-latin-700.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../font/poppins-v15-latin-700.svg') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: p-reg, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
}

img {
    width: 100%;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

p {
    margin: 0;
    padding: 0;
    line-height: 2em;
    color: #333;
}
